//  Imports
//  -------

@import url('https://db.onlinewebfonts.com/c/3222aa5687b8a3d84cebb1185024ff78?family=CCDeadlineDreadedOpen');
@import url('https://fonts.cdnfonts.com/css/pricedown');

//  Variables
//  ---------

@color-base: #1E2B3F;
@ff-base: 'Pricedown Bl';

.centered-fullwidth(){
    max-width: 1200px;
    margin: 0 auto;
}


html {
    font-size: 16px;
}

body {
    background-color: @color-base;
    .main-section {
        background-image: url('../img/bg1.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        position: relative;
        &-header {
            font-family: @ff-base;
            color: white;
            .centered-fullwidth();
            padding-top: 1em;
            display: flex;
            justify-content: space-between;
            &-nav {
                display: flex;
                &_portfolio {
                    margin: 0 1em, 
                }
            }
        }
        &-banner {
            .centered-fullwidth();
            font-family: @ff-base;
            color: white;
            &-content {
                width: 50%;
                &_title {
                    font-size: 3em;
                }
                &_image {
                    position: absolute;
                    height: 800px;
                    bottom: 0;
                    right: 0;
                    transform: translateX(-25%);
                }
            }
        }
    }
}